<h1>Eat-a-Burger!</h1>

<h2>Burgers to be devoured:</h2>

{{!-- <ul>
  {{#each burger}}
  {{#unless devoured}}
    <li>
	    {{burger_name}}
	    <button class="devour" data-id="{{id}}" data-devoured="false">Devour!</button>
    </li>
  {{/unless}}
  {{/each}}
</ul> --}}
<div class="row">

  {{#each burger}}
  {{#unless devoured}}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{burger_name}}</h5>
    <p class="card-text">Not devoured yet!</p>
    <a href="#" class="btn btn-primary devour" data-id="{{id}}" data-devoured="false">Devour</a>
  </div>
  </div>
  {{/unless}}
  {{/each}}

</div>
  

<h2>Already devoured:</h2>

{{!-- <ul>
  {{#each burger}}
  {{#if devoured}}
     <li>
	    {{burger_name}}
	    <button class="delete" data-id="{{id}}">Delete!</button>
    </li>
  {{/if}}
  {{/each}}
</ul> --}}

<div class="row">
  {{#each burger}}
  {{#if devoured}}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{burger_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Careful! You won't get to eat this burger again...</h6>
    <div class="card-text">Delete this burger</div>
    <a href="#" class="btn btn-warning delete" data-id="{{id}}">Delete</a>
  </div>
  </div>
  {{/if}}
  {{/each}}
</div>


<h2>Add a Eat-a-Burger!</h2>
<form id="create">
  <div class="form-group">
    <label for="newBurger">Burger name:</label>
    <input type="text" id="newBurger" name="name">
    <button type="submit" class="btn btn-success">Add burger</button>
  </div>
</form>